.header-v1 .topbar-v1 {
  border: 1px solid rgb(112, 112, 112);
  padding: 10px;
  height: 1.5cm;
}

.header-v1 .topbar-v1 .top-v1-head p {
  display: inline-block;
}
.header-v1 .topbar-v1 .top-v1-head button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  float: right;
  width: 5%;
  margin-top: 15px;
}
.account-center input[type="image"] {
	background: white;
	color: white;
	min-width: 10px;
	padding: 5px;
	margin-top: 2px;
	text-align: center;
	margin-left: 6px;
	position: absolute;
	margin-bottom: 10px;
}
.account-center input[type="text"] {
	width: 8cm;
	padding: 8px;
	
	
	outline: none;
	border-radius : 8px;
	background-color: gray;
	margin-bottom: 10px;
	text-indent: 1cm;
}

select {
  background: none;
  border: none;
  color: var(--primary-text);
  outline: none;
  font-size: 1rem;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 20px;
  flex: 2 1 auto;
}
.nav-list a {
  color: var(--primary-text);
}
.account-center {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar img {
  width: 50px;
  height: 50px;
}
/* Side Bar*/
.header-v2 .topbar-v2 {
  border: 1px solid rgb(112, 112, 112);
  padding: 100px;
  width: 60px;
  height: 9.5cm;
}

/* Style the sidenav */
.sidenav {
  height: 100%;
  width: 200px;

  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  display: inline;

  overflow-x: hidden;
  padding-top: 60px;
  margin-top: 60px;
  margin-left: 80px;
}

/* Style the icons in the sidenav */
.sidenav .icon {
  display: block;
  color: #aaa;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of the icons on hover */
.sidenav .icon:hover {
  color: #fff;
}

/* Side Bar2*/

 .sidenav1 {
  height: 30%;
  width: 200px;
  
  z-index: 1;
  top: 0;
  left: 0;

  
  padding-top: 60px;
  margin-top: 60px;
  margin-left: 80px;
}

/* Style the icons in the sidenav */
.sidenav1 .icon {
  display: block;
  color: #aaa;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of the icons on hover */
.sidenav1 .icon:hover {
  color: #fff;
}



